/* target main header only */
body > header {
    background-color: var(--pico-background-color);
    position: sticky;
    top: 0;
}

section#hero {
    min-height: 40rem;
    background-color: var(--pico-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    margin-bottom: 5rem;
}

section#hero h1 {
    font-size: 5rem;
    color: rgb(226, 209, 110);
}

section#likes div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

section#likes article {
    flex: 1;
    min-width: 15rem;
    max-width: 30rem;
}

/* DEMOS --------------------- */

section.demo div {
    display: flex;
    gap: 1rem;
    background-color: #6666;
    padding: 1rem;
}

section.demo div p {
    font-size: 5rem;
    background-color: aqua;
    padding: 1rem;
}